@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all ease 1s;
  --scrollbar-thumb-color: #0146af;
  --scrollbar-thumb-color-hovered: #013788;
}

a {
  color: inherit;
  text-decoration: inherit;
}

::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  background-clip: padding-box;
  cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-color-hovered);
}

::-webkit-scrollbar-track {
  background: #4f4f4f10;
}

.logo {
  width: 70px;
  height: 70px;
}

@media (max-width: 600px) {
  .logo {
    width: 50px;
    height: 50px;
  }
}
